body {
    width: 500px;
    height: auto;
    background-repeat: no-repeat;
    top: 50px;
    left: 0px;
    position: relative;
}

#question {
    top: 330px;
    left: 600px;
    position: absolute;
}


table {
    border-collapse: collapse;
    width: 600px;
}

td {
    border: 0px solid black;
}

/* スタンプの押された数とパーセンテージ */
#click_table {
    padding: 5px;
}

#click_table td {
    width: 33%;
}

/* スタンプの登録エリア */
#setting {
    width: 200px;
    top: 0px;
    left: 585px;
    position: absolute;
}


.regi_wrapper {
    display: flex;
}

.regi_item {
    width: 90px;
}

.regi_form {
    width: 100px;
}

#resiter_button {
    width: 46px;
    height: 45px;
    top: 3px;
    left: 198px;
    position: absolute;
}

/* スマホ内に表示されたボタンエリア */

#button_area {
    width: 440px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}


#button_area img {
    width: 100px;
    height: 100px;
}

#button_area div {
    margin: 4px;
    /* 右側に10pxの隙間を開ける */
}

input {
    width: 100px;
}

/* 登録されたスタンプ */
#stamp_list {
    width: 250px;
    padding: 5px;
    top: 54px;
    left: 581px;
    position: absolute;
    /* テキストを折り返さないようにする */
    white-space: nowrap;

}

#stamp_list h3 {
    margin: 0px;
}

#stamp_list_table table {
    width: 255px;
}

.column1 {
    width: 40px;
}

.column2 {
    width: 105px;
    /* 制約された領域からはみ出る部分を非表示にする */
    overflow: hidden;
    /* 制約された領域からはみ出たテキストを「...」で省略表示する */
    text-overflow: ellipsis;

}

.column3 {
    width: 55px;
}

#chart_wrapper {
    width: 300px;
    top: 0px;
    left: 846px;
    position: absolute;
}

.image_thumnail img{
    width: 100px;
}