body {
    width: 500px;
    height: auto;
    background-repeat: no-repeat;
    left: 0px;
    position: relative;
}

#imagePreview {
    top: 20px;
    left: 320px;
    position: absolute;
}

#imagePreview img{
    width: 100px;
   
}

table {
    border-collapse: collapse;
    width: 470px;
}

td {
    border: 0px solid black;
    text-align: center;
    }
      
      
td img {
    display: block;
    margin: 0 auto;
}

 input {
    width: 100px;
 } 

 .input-point {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 20px; 
  }



/************************** 
登録スタンプ表示画面
***************************/
.image_thumnail img{
    width: 36px;
}

 /************************** 
チャートjs画面
***************************/
#chart_wrapper {
    width: 300px;
    /* top: 310px; */
    left: 80px;
    position: absolute;
}